* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 300px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-error {
    height: 20px;
    font-size: 12px;
    color: red;
    font-weight: 700;
}